[include fluidd.cfg]

[virtual_sdcard]
path: /home/dynamix/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[include modules/options.cfg]

# The following settings are intended to be managed by Klipper's SAVE_CONFIG.
# They are placed here to ensure they override any defaults in the modules.

[extruder]
# control = pid
# pid_kp = 72.789
# pid_ki = 0.799
# pid_kd = 1656.867

[heater_bed]
# control = pid
# pid_kp = 72.789
# pid_ki = 0.799
# pid_kd = 1656.867

[probe]
# z_offset = 2.900
