[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian

[extruder]
rotation_distance: 4.65
nozzle_diameter: 0.400

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 110

[probe]
pin: PB1
x_offset: 27
y_offset: -20
samples: 3
samples_result: median
samples_tolerance: 0.01
samples_tolerance_retries: 5

[bed_mesh]
speed: 175
mesh_min: 27, 6 # probe as close to origin as possible while remaining fully on the bed
mesh_max: 299, 280 # (x.position_max - 1), (y.position_max - abs(y_offset)) ; probe as far as possible from the origin while remaining fully on the bed
probe_count: 9, 9
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0


[fan]
pin: PA0

[bed_screws]
screw1_name: front left
screw1: 26.5, 31
screw2_name: front right
screw2: 196.75, 31
screw3_name: back right
screw3: 196.75, 201
screw4_name: back left
screw4: 26.5, 201

[screws_tilt_adjust]
screw1_name: center front left base
screw1: 84, 136
screw2_name: front left
screw2: 5, 55
screw3_name: front right
screw3: 244, 55
screw4_name: center front right
screw4: 164, 136
screw5_name: center back left
screw5: 84, 216
screw6_name: center back right
screw6: 164, 216
screw7_name: back left
screw7: 5, 295
screw8_name: back right
screw8: 244, 295
horizontal_move_z: 10
screw_thread: CCW-M4

# [output_pin beeper]
# pin: PC6
# value: 0
# shutdown_value: 0
# pwm: True
# cycle_time: 0.0005 ; Default beeper tone in kHz. 1 / 0.0005 = 2000Hz (2kHz)

[filament_switch_sensor filament_sensor]
switch_pin: PA4
pause_on_runout: True
insert_gcode:
    { action_respond_info("Insert Detected") }
runout_gcode:
    { action_respond_info("Runout Detected") }
    CONDITIONAL_BEEP i=3 dur=300 freq=400

[verify_heater extruder]
max_error: 200
check_gain_time: 60
hysteresis: 5
heating_gain: 2

[include modules/printing-profiles/basic.cfg]        # Well balanced mode
# [include modules/printing-profiles/stealthchop.cfg]  # Use Stealthchop with interpolation
# [include modules/printing-profiles/performance.cfg]  # Faster, louder

[include modules/options.cfg]
