#####################################################################
#   Axis Twist Compensation Calibration
#####################################################################
# This module compensates for a twist in the X-axis rods, which can 
# cause consistent first-layer height errors across the bed.
#
# Calibration Steps:
# 1. Clear any active mesh: BED_MESH_CLEAR
# 2. Home and calibrate gantry: G28, then MECHANICAL_GANTRY_CALIBRATE
# 3. Preheat the bed to your usual printing temperature.
# 4. Run: AXIS_TWIST_COMPENSATION_CALIBRATE
# 5. Perform the paper test at each point when prompted.
# 6. Once finished, run: SAVE_CONFIG
#
#####################################################################

[axis_twist_compensation]
calibrate_start_x: 27 # probe x coor at furthest left ; abs(x_offset)
calibrate_end_x: 272 # probe x coor at furthest right ; (x.position_max - abs(x_offset) - 1)
calibrate_y: 154